<% form_remote_tag :url => @article.comment_url,
                    :position=> :bottom,
                    :update => {:success => 'commentList'},
                    :loading => "loading()",
                    :complete => "complete(request)",
                    :failure => "failure(request)",
                    :html => {:id=>"commentform",:class=>"commentform"} do %>

<div class="comment-box">
  <div id="errors"></div>
  <div id="preview" style="display: none"></div>

  <a name="respond"></a>


      <p><label for="comment_author"><%= _("Your name")%></label>
      <%= text_field "comment", "author", :size => 20 %> <small><%= link_to_function("(leave url/email &#187;)", "Element.toggle('guest_url'); Element.toggle('guest_email')") %></small>
    </p>
    <p id="guest_url" style="display:none;">
      <label for="comment_url"><%= _("Your blog")%></label>
      <%= text_field "comment", "url" %>
    </p>
    <p id="guest_email" style="display:none;">
      <label for="comment_email"><%= _("Your email")%></label>
      <%= text_field "comment", "email" %>
    </p>
    <p>
      <label for="comment_body"><%= _("Your message")%></label>
      <%= content_tag('small', link_to(_("Textile enabled"), "http://hobix.com/textile/")) if this_blog.comment_text_filter.include? 'textile' %>
      <%= content_tag('small', link_to(_("Markdown enabled"), "http://daringfireball.net/projects/markdown/")) if this_blog.comment_text_filter.include? 'markdown' %>
    </p>
      <p>
        <%= text_area "comment", "body" %>
      </p>
    <p id="frm-btns">


      <span id="comment_loading" style="display:none;"><%= image_tag "spinner.gif" %></span>
      <a href="#" onclick="new Ajax.Updater('preview', '<%= @article.preview_comment_url %>',  {asynchronous:true, evalScripts:true, parameters:Form.serialize('commentform'), onComplete:function(request){Element.show('preview')}}); return false;"><%= _("Preview comment")%></a>
      <input type="submit" name="submit" id="form-submit-button" value="submit" class="button" />&nbsp;&nbsp;
    </p>


</div>
<% end %>
