<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'shared/page_header' %>
    <%= themeable_stylesheet_link_tag :theme %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=h page_title %></title>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <% if @frontpage -%>
          <h1 id="sitename">matijs.net</h1>
        <% else -%>
          <h1 id="sitename"><%= link_to this_blog.blog_name, this_blog.base_url %></h1>
          <p class="desc"><%= this_blog.blog_subtitle %></p>
        <% end -%>
      </div>

      <div class="content">
        <%= yield %>
      </div>

      <div class="sidebar">
        <% if @frontpage -%>
          <%= render :partial => "local/frontbar" %>
        <% else -%>
          <p><%= this_blog.blog_name %> is <a href="/">Matijs van Zuijlen</a>'s weblog.</p>
          <%= render_sidebars %>
          <p><%= t(".powered_by_html", powered_by: link_to('Publify', 'http://publify.co')) %></p>
        <% end -%>
      </div>

      <div class="footer">
        <p class="copyright">
        Copyright 2002&ndash;2014, Matijs van Zuijlen
        </p>
      </div>
    </div>
  </body>
</html>
